<html>
    <head>
        <meta charset="utf-8"/>
        <title>Die Slim</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='https://consulta.meucartaotransporte.com.br/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>Die Slim</h1>
        <div>Basic structure for a Slim Framework project</div>
    </body>
</html>